body{
    margin: 50px;
}

.detail{
    color: white;
}

.detail h1 {
    text-shadow: 0px 0px 5px rgb(255, 221, 0);
    font-size: 40px;
}

.detail p{
    font-size: 25px;
}

.detail h5{
    font-size: 30px;
    margin-bottom: 10px;
}

.detail img{
    float: left;
    margin-right: 30px;
}