html{
    background-color: rgb(79, 79, 79);
}

.home h1 {
    font-size: 40px;
    color: white;
}

.home h2{
    color: white;
}

.home #guide {
    font-size: 25px;
    margin-bottom: 80px;
    color: white;
}

.home .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}